In [9]:
#setting library
import pandas as pd
import numpy as np

In [10]:
#reading in files
op_traffic = pd.read_csv("../data/cleaned_data/opened_cb_traffic.csv")
unop_traffic = pd.read_csv("../data/cleaned_data/unopened_cb_traffic.csv")

In [11]:
#add indicator cols to df to show whether they're unopened or opened bikeshares for later merging
op_traffic["opened_station"] = 1
unop_traffic["opened_station"] = 0

In [12]:
#merging df of opened capital bikeshares and unopened capital bikeshares
merged_df = pd.concat([op_traffic, unop_traffic], ignore_index = True)

In [13]:
#add indicator col for if opened in 2013
merged_df["opened_2013"] = np.where(merged_df["open_year"] == 2013.0, True, False)

In [15]:
merged_df.iloc[2:5]

,id,long,lat,open_year,name,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,opened_station,opened_2013
2,08249ef2-1f3f-11e7-bf6b-3863bb334450,-77.041779,38.905067,2010.0,18th & M St NW,16554.625000,17207.750000,15743.375000,14952.545455,14570.454545,14663.818182,14727.272727,13212.0,12886.083333,13045.416667,15714.000000,15959.250000,15560.083333,1,False
3,082544b7-1f3f-11e7-bf6b-3863bb334450,-77.077078,38.943837,2013.0,39th & Veazey St NW,17128.666667,17043.000000,16884.666667,16736.666667,16823.000000,17252.666667,16876.000000,17190.0,17311.666667,14909.000000,15051.250000,15299.750000,15046.000000,1,True
4,082524a2-1f3f-11e7-bf6b-3863bb334450,-77.086063,38.893237,2020.0,N Veitch St & Key Blvd,14604.333333,14618.333333,14166.666667,12773.333333,12804.666667,12719.666667,13233.333333,12700.0,12633.333333,11300.000000,11366.666667,11266.666667,10966.666667,1,False

In [6]:
#saving final data
merged_df.to_csv("../data/cleaned_data/final_data.csv", index = False)