In [2]:
#setting library
import pandas as pd

In [7]:
#reading in files
op_traffic = pd.read_csv("../data/cleaned_data/opened_cb_traffic.csv", index_col = 0)
unop_traffic = pd.read_csv("../data/cleaned_data/unopened_cb_traffic.csv", index_col = 0)
op_crime = pd.read_csv("../data/cleaned_data/opened_cb_crime.csv", index_col = 0)
unop_crime = pd.read_csv("../data/cleaned_data/unopened_cb_crime.csv", index_col = 0)

In [57]:
#add indicator cols to df to show whether they're unopened or opened bikeshares for later merging
op_traffic["opened_station"] = 1
op_crime["opened_station"] = 1

unop_traffic["opened_station"] = 0
unop_crime["opened_station"] = 0

In [58]:
#merge opened bikeshare
opened_cb = pd.merge(op_traffic, op_crime, how = "outer", on = ["station", "long", "lat", "opened_station"])

In [59]:
#reorder cols
opened_cb = opened_cb[["station", "long", "lat", "opened_station", "change_AADT_mean", "change_AADT_sem", "change_CRIME_mean", "change_CRIME_sem"]]

In [60]:
opened_cb.describe()

,long,lat,opened_station,change_AADT_mean,change_AADT_sem,change_CRIME_mean,change_CRIME_sem
count,780.000000,780.000000,780.0,683.000000,530.000000,403.000000,0.0
mean,-77.067610,38.907140,1.0,-873.690014,1994.271899,20.513648,NaN
std,0.096484,0.058842,0.0,5308.677568,4686.972194,108.151735,NaN
min,-77.368416,38.766844,1.0,-72136.000000,0.000000,-299.000000,NaN
25%,-77.094043,38.876745,1.0,-1992.333333,734.666366,-39.500000,NaN
50%,-77.044408,38.899957,1.0,-592.375000,1236.144585,2.000000,NaN
75%,-77.008050,38.932025,1.0,824.750000,1975.975875,74.500000,NaN
max,-76.825535,39.125828,1.0,32183.000000,69003.000000,465.000000,NaN

In [61]:
#merge opened bikeshare
unopened_cb = pd.merge(unop_traffic, unop_crime, how = "outer", on = ["station", "long", "lat", "opened_station"])

In [63]:
#reorder cols
unopened_cb = unopened_cb[["station", "long", "lat", "opened_station", "change_AADT_mean", "change_AADT_sem", "change_CRIME_mean", "change_CRIME_sem"]]

In [69]:
unopened_cb.describe()

,station,long,lat,opened_station,change_AADT_mean,change_AADT_sem,change_CRIME_mean,change_CRIME_sem
count,184.000000,184.000000,184.000000,184.0,160.000000,123.000000,180.000000,0.0
mean,91.500000,-77.018976,38.915297,0.0,-1420.624929,1865.497599,2.383333,NaN
std,53.260367,0.043765,0.035673,0.0,4307.116719,1821.548402,82.945110,NaN
min,0.000000,-77.109057,38.819474,0.0,-23038.000000,12.500000,-174.000000,NaN
25%,45.750000,-77.051052,38.893453,0.0,-2499.875000,798.413413,-44.500000,NaN
50%,91.500000,-77.022431,38.915921,0.0,-1140.916667,1343.109468,-2.500000,NaN
75%,137.250000,-76.987472,38.938926,0.0,-292.208333,2184.778681,27.000000,NaN
max,183.000000,-76.919072,38.991081,0.0,32183.000000,10754.296804,327.000000,NaN

In [67]:
#merging df of opened capital bikeshares and unopened capital bikeshares
merged_df = pd.concat([opened_cb, unopened_cb], ignore_index = True)

In [71]:
#dropping se for crime--realized its not possible considering how crime was computed
merged_df.drop(columns = 'change_CRIME_sem', inplace = True)

In [85]:
#saving final data
merged_df.to_csv("final_data.csv", index = False)

#### Adding year opened from other data frame

In [21]:
#loading final csv
final = pd.read_csv("../data/cleaned_data/final_data.csv", index_col = 0)

#loading dataset with year openened
open = pd.read_csv("../data/raw_data/opened_capital_bikes.csv", index_col = 0)

In [22]:
#
merged_df = pd.merge(final, open[['STATION_ID', 'Opening Year']], left_on='station', right_on='STATION_ID', how='left')

# Drop 'STATION_ID' if no longer needed
merged_df = merged_df.drop(columns=['STATION_ID'])

# Display the merged dataframe
print(merged_df)

          long        lat  opened_station  change_AADT_mean  change_AADT_sem  \
0   -76.945283  38.870353               1      -1925.000000       470.000000
1   -77.361516  38.958660               1          0.000000              NaN
2   -77.045916  38.852903               1       1100.000000              NaN
3   -76.978519  38.869337               1     -24146.666667     23994.804759
4   -76.996023  38.922404               1       1093.000000       467.000000
..         ...        ...             ...               ...              ...
959 -77.011915  38.957596               0      -3032.666667      2451.471825
960 -76.922249  38.882922               0     -10279.000000      3617.476653
961 -76.988753  38.831077               0      -1973.500000       820.500000
962 -76.968546  38.846848               0               NaN              NaN
963 -77.038507  38.897008               0      -1106.500000       854.952192

     change_CRIME_mean  Opening Year
0                  4.0        2023.0
1                  NaN           NaN
2                  NaN        2021.0
3                -30.0        2021.0
4                126.0        2022.0
..                 ...           ...
959              -58.0           NaN
960              -67.0           NaN
961              -22.0           NaN
962              -70.0           NaN
963                4.0           NaN

[964 rows x 7 columns]

In [27]:
#saving final data
merged_df.to_csv("../data/cleaned_data/final_data.csv", index = False)